example-send-sms-interact-with-mongo/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/1.0/mule-mongo.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
       http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/1.0/mule-twilio.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <twilio:config name="twilio-default" accountSid="${twilio.account.sid}" authToken="${twilio.auth.token}"/>

    <mongo:config/>

    <flow name="insertClients">
        <http:inbound-endpoint host="localhost" port="9090" path="insert-clients"/>
        <mongo:insert-object collection="clients">
            <mongo:elementAttributes>
                <mongo:elementAttribute key="name" value="#[header:inbound:name]"/>
                <mongo:elementAttribute key="phone" value="#[header:inbound:phone]"/>
                <mongo:elementAttribute key="accountBalance" value="#[header:inbound:accountBalance]"/>
            </mongo:elementAttributes>
        </mongo:insert-object>
        <expression-transformer>
            <return-argument expression="Successfully added client" evaluator="string"/>
        </expression-transformer>
    </flow>

    <flow name="deleteClients">
        <http:inbound-endpoint host="localhost" port="9090" path="send-sms"/>
        <mongo:drop-collection collection="clients"/>
        <expression-transformer>
            <return-argument expression="Successfully deleted all clients" evaluator="string"/>
        </expression-transformer>
    </flow>

    <flow name="sendSmsToClients">
        <mongo:find-objects collection="clients"/>
        <collection-splitter/>
        <twilio:send-sms-message config-ref="twilio-default"
                                 accountSid="${twilio.account.sid}"
                                 from="${twilio.phone.number}"
                                 to="#[map-payload:phone]"
                                 body="Hi #[map-payload:name]! Your account balance is USD#[map-payload:accountBalance]"/>
    </flow>

</mule>